<h1>Posts</h1>

<h4><%= @post.title %></h4>

<p><%= @post.body %></p>

<% if session[:user_id] == @post.user_id %>
  <%= link_to "Edit", edit_post_path(@post) %> 
  <%= link_to "Create New Post", new_post_path %>
<% end %>